In [1]:
name = "swarneshhhhh"
if len(name) > 8:
    print("Swarnesh meme")
else:
    print("Nikesh meme")

Swarnesh meme

### Print out all multiples of 5 between 5 and 50

In [3]:
for ind in range(5, 51, 5):
    print(ind)

5
10
15
20
25
30
35
40
45
50

### Print out all odd numbers between 0 and 20

In [4]:
for ind in range(1, 21, 2):
    print(ind)

1
3
5
7
9
11
13
15
17
19

### Print all even numbers between 11 and 35

In [6]:
for ind in range(12, 35, 2):
    print(ind)

12
14
16
18
20
22
24
26
28
30
32
34

### Print out all multiples of 11 between 0 and 110

In [7]:
for ind in range(11, 111, 11):
    print(ind)

11
22
33
44
55
66
77
88
99
110

### Print out all the multiples of 7 between 20 and 40

In [8]:
for ind in range(21, 41, 7):
    print(ind)

21
28
35

### Print out all multiples of 21 between 20 and 100

In [9]:
for ind in range(21, 100, 21):
    print(ind)

21
42
63
84

### Print out squares of all numbers between 1 and 15

In [10]:
for ind in range(1, 16):
    print(ind**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

### Print out the cubes of all numbers between 1 and 10

In [11]:
for ind in range(1, 11):
    print(ind**3)

1
8
27
64
125
216
343
512
729
1000

### Print out all even numbers between 40 and 100

In [14]:
for ind in range(40, 101, 2):
    print(ind)

40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Print out all numbers between 10 and 20 that are even

In [15]:
for ind in range(10, 21, 2):
    print(ind)

10
12
14
16
18
20

# HOMEWORK

### Allow the user to input a number. Check if the number is even, and print "EVEN STRIKE" if it is even. If it is not even, print "BAD STRIKE."