# Homework Review

In [1]:
# Sum of all natural numbers from 1 to n
# Formula is n*(n+1)/2
def nat_sum(n):
    # Write your code here
    sm = n*(n+1)/2
    return sm

In [2]:
nu = int(input("Enter the number: "))
print(nat_sum(nu))

Enter the number:  5

15.0

In [4]:
# Sum of squares of number from 1 to n
# This is the formula: 1^2 + 2^2 + 3^2 + ... + n^2 = n*(n+1)*(2*n+1)/6
def sum_sq(n):
    sm = n*(n+1)*(2*n+1)/6
    return sm

In [5]:
num = int(input("Enter the value of n: "))
print(sum_sq(num))

Enter the value of n:  6

91.0

In [7]:
5/4, 5//4

(1.25, 1)

In [8]:
print("Lohith is my best friend")

Lohith is my best friend

In [9]:
print(10/2)

5.0

In [10]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

# For loop and While loop

### (For loop) This is something you use when you know how many times you want to do something (STARTS AT 0 by DEFAULT, SKIPS BY 1 BY DEFAULT)
### (While loop) This is something you use when you dont know how many times you want to do something

In [30]:
for ind in range(21):
    print(ind)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
for ind in range(2, 20):
    print(ind)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for ind in range(1, 20, 4):
    print(ind)

1
5
9
13
17

In [17]:
for ind in range(20, 2, -4):
    print(ind)

20
16
12
8
4

In [18]:
# Question 1
# Print all numbers between 1 and 100 (I want 100 too)
for each in range(1, 101):
    print(each)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
# Question 2
# Print all numbers between 5 and 15 (I dont want 15)
for ind in range(5, 15):
    print(ind)

5
6
7
8
9
10
11
12
13
14

In [24]:
# Question 3
# Print all odd numbers between 5 and 20
for poo in range(5, 20, 2):
    print(poo)

5
7
9
11
13
15
17
19

In [27]:
# Question 4
# Print all multiples of 3 between 5 and 30 (I want 30 too)
for ind in range(6, 33, 3):
    print(ind)

6
9
12
15
18
21
24
27
30

In [31]:
# Question 5
# Print all numbers between -10 and 10 (I want 10 too)
for ind in range(11):
    print(ind)

0
1
2
3
4
5
6
7
8
9
10